{% extends "base.html" %}


{% block content %}
<div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
        <p>Turns taken: <span id="turns-taken">{{ game.turns_taken }}</span></p>
        <p>Wins: {{ game.user_history.games_won }}</p>
        <p>Losses: {{ game.user_history.games_lost }}
    </div>
</div>

<div class="row">
    <div class="col">
    </div>
        <div class="col-10 text-center">
    <canvas id="hangman-canvas" width="400" height="400" style="border:1px solid"></canvas>
    <div class="col">
    </div>
</div>

<div class="row">
    <div class="col">
    </div>
<!-- input-group input-group-lg  -->
    <div class="col-12">
    <ul class="list-inline text-center" id="played-letters-parent">
        {% for letter in game.winning_word %}
         <!-- class="form-control" -->
            <input type="text" class="text-center played-letters-display" id="{{ forloop.counter }}"
            disabled placeholder=
            {% if letter in game.letters_played %}
                {{ letter }}
            {% else %}
                " "
            {% endif %}
            >

        {% endfor %}
    </ul>
    </div>
    <div class="col">
    </div>

<div class="row text-center">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">

        <div class="row text-center" id="alphabet-parent" role="group">


        {% for letter in game.ALPHABET %}
            <button type="button" class="btn btn-default alphabet" id="{{ letter }}"
            {% if letter in game.letters_played %}
                disabled
            {% endif %}
            {% if game.game_state != "A" %}
                 hidden
            {% endif %}

            >{{ letter }}</button>


        {% endfor %}
        {% if game.game_state != "A" %}
             {% if game.game_state == "L" %}
                <h2>You Let Them Die.</h2>
             {% elif game.game_state == "W" %}
                <h2>Success! The Accused Lives Another Day.</h3>
             {% endif %}
                <form method="POST" action="{% url 'hangman_game:start game'  %}">
                    {% csrf_token %}
                    <button type="button" name="new game" class="btn btn-default btn-primary btn-lg" type="button submit" id="new-game">Defend Another Accused</button>
                </form>
        {% endif %}
        </div>
    </div>
    <div class="col-xs-4">
    </div>
</div>
<br><br>
{% endblock %}
{% block javascript %}
{% load static %}
<script type="text/javascript" src="{% static "hangman_game/game.js" %}" ></script>
{% endblock %}
